<div class="container">
    <!--div [hidden]="submitted"-->
    <h1>Student Survey</h1>
    <form #surveyForm="ngForm">
        <div class="form-group">
            <p>
                <label for="fname">First Name</label>
                <input type="text" class="form-control" id="fname" required style="width: 200px;"
                    [(ngModel)]="model.fname" name="fname">
            </p>
            <p>
                <label for="lname">Last Name</label>
                <input type="text" class="form-control" id="lname" required style="width: 200px;"
                    [(ngModel)]="model.lname" name="lname" l>
            </p>

            <div class="form-group">
                <p>
                    <label for="street">Address</label>
                    <input type="text" class="form-control" id="street" required style="width: 200px;"
                        [(ngModel)]="model.address.street" name="street">
                </p>
                <p>
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city" required style="width: 200px;"
                        [(ngModel)]="model.address.city" name="city">
                </p>
                <p>
                    <label for="state">State</label>
                    <input type="text" class="form-control" id="state" required style="width: 200px;"
                        [(ngModel)]="model.address.state" name="state">
                </p>
                <p>
                    <label for="zip">Zip Code</label>
                    <input type="text" class="form-control" id="zip" required style="width: 200px;"
                        [(ngModel)]="model.address.zip" name="zip">
                </p>
            </div>
            <p>
                <label for="telephohe">Telephone Number</label>
                <input type="text" class="form-control" id="telephone" required style="width: 200px;"
                    [(ngModel)]="model.telephone" name="telephone">
            </p>


            <p>
                <label for="sdate">Date</label>
                <input type="date" class="form-control" id="sdate" required [(ngModel)]="model.surveydate" 
                style="width: 200px;" name="sdate">
            </p>
            <div class="form-group">
                <label>How you became interested</label>
                <div class="radio" *ngFor="let reftype of referral">
                  <label for="reftype">
                    <input type="radio" name="reftype" [(ngModel)]="model.referral" [value]="reftype">
                    {{reftype}}
                  </label>
                </div>
              </div>
        </div>

        <div class="form-group">
            <input type="hidden" id="qualities" [ngModel]="model.qualities" name="qualities">
            <label>Qualities Most Liked about the School</label>
            <div *ngFor="let qual of qualities">
                <input type="checkbox" name="qual" value="qual" (change)="onQualChange($event,qual)">
				{{qual}}
            </div>
        </div>

        <div class="form-group">
            <label for="satisfaction">How likely are you to recommend this schoold to others</label>
            <select class="form-control" id="satisfaction"
                    [(ngModel)]="model.satisfaction" name="satisfaction"
                    #power="ngModel">
              <option *ngFor="let sat of satisfaction" [value]="sat">{{sat}}</option>
            </select>
          </div>

        <button type="submit" class="btn btn-success" [disabled]="!surveyForm.form.valid" (click)="onSubmit()">Submit</button>
        <button type="button" class="btn btn-default" (click)="surveyForm.reset()">Cancel</button>

    </form>

    <table id="surveys">
        <tr>
            <th>survey ID</th>
            <th> First Name</th>
            <th> Last Name</th>
        </tr>
        <tr *ngFor="let survey of surveys">
                <td>{{survey.id}}</td>
                <td>{{survey.fname}}</td>
                <td>{{survey.lname}}</td>
        </tr>
        </table>

</div>