<table id="surveys">
<tr>
    <th>survey ID</th>
    <th> First Name</th>
    <th> Last Name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Telephone #</th>
   <th>Email</th>
   <th>Date of Surve</th>
   <th>Referred From</th>
    <th>satisfaction</th>
    <th>Things they like</th>
</tr>
<tr *ngFor="let survey of surveys">
        <td>{{survey.id}}</td>
        <td>{{survey.fname}}</td>
        <td>{{survey.lname}}</td>
        <td>{{survey.address.street}}</td>
        <td>{{survey.address.city}}</td>
        <td>{{survey.address.state}}</td>
       <td> {{survey.telephone}} </td>
       <td> {{survey.email}}</td>
        <td>{{survey.surveydate}}</td>
       <td>{{survey.referral}}</td>
       <td>{{survey.satisfaction}}</td>
        <td>{{survey.qualities}}</td>
           
</tr>
</table>

<button type="button" routerLink="/survey">Add a Survery</button>
