<table id="surveys">
<tr>
    <th>Survey ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Telephone #</th>
    <th>Email</th>
    <th>Date of Surve</th>
    <th>Referred From</th>
    <th>satisfaction</th>
    <th>Things they like</th>
</tr>
<tr *ngFor="let survey of surveys">
        <td>{{survey.survey_id}}</td>
        <td>{{survey.first_name}}</td>
        <td>{{survey.last_name}}</td>
        <td>{{survey.street}}</td>
        <td>{{survey.city}}</td>
        <td>{{survey.state}}</td>
        <td>{{survey.zip}}</td>
        <td>{{survey.phone_number}} </td>
        <td>{{survey.email}}</td>
        <td>{{survey.date}}</td>
        <td>{{[survey.like_students, survey.like_location, survey.like_campus, survey.like_atmosphere, survey.like_dorm_rooms, survey.like_sports]}}</td>     
        <td>{{survey.will_recommend}}</td>
        <td>{{survey.interest}}</td>
</tr>
</table>

<button type="button" routerLink="/survey">Add a Survery</button>
